.brand-logo{
	margin-top: -45px;
}
@font-face {
    font-family: "mycostum";
    src: url("../font/brian.otf");
}
@font-face {
    font-family: "mycostum2";
    src: url("../font/Brotherhood.ttf");
}
.myHeader{
  z-index: 9999;
  top: 0;
  position: fixed;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.title-s1{
	margin-top: 100px;
	font-family: "mycostum";
	margin-left: -20px;
}
.title-s2{
	font-family: "mycostum2";
	margin-top: 150px;
}
.btn{
	margin-top: 10px;
	margin-left: 20px;
}
.paragraf-s1{
	width: 400px;
	margin-left: -15px;
}
.span-s1{
	margin-top: 100px;
	height: 100vh;

}
.span-s2{
	height: 100vh;
	margin-left: 30px;
}
.gambar{
	margin-left: 30px;
}
.gambar-s2{
	margin-left: 150px;
	margin-top: 100px;
}
.section1{
	margin-bottom: 0px;
}
.section2{
	margin-top: -20px;
	box-shadow: none;
}

.nav-s2{
	margin-top: 20px;
}
footer{
	margin-top: -20px;
}
.sosmed{
	width: 30px;
	height: 30px;
}